<h1>EAL Donation Detail</h1> (From /views/payments/index)<br/>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Locality</th>
    <th>State</th>
    <th>Country</th>
    <th>Postcode</th>
    <th>Phone</th>
    <th>Amount $</th>
    <th>Type</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.name %></td>
    <td><%= payment.address %></td>
    <td><%= payment.locality %></td>
    <td><%= payment.state %></td>
    <td><%= payment.country %></td>
    <td><%= payment.postcode %></td>
    <td><%= payment.phone %></td>
    <td><b><%= payment.paymt_amount %></b></td>
    <td><%= payment.paymt_type %></td>
    <td><%= payment.paymt_number %></td>
    <td><%= link_to 'Show', payment %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
<!--    <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
 
<% end %>
</table>

<br />

<%= link_to 'New Payment', new_payment_path %>
