<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @payment.name %>
</p>

<p>
  <b>Address:</b>
  <%= @payment.address %>
</p>

<p>
  <b>Locality:</b>
  <%= @payment.locality %>
</p>

<p>
  <b>State:</b>
  <%= @payment.state %>
</p>

<p>
  <b>Country:</b>
  <%= @payment.country %>
</p>

<p>
  <b>Postcode:</b>
  <%= @payment.postcode %>
</p>

<p>
  <b>Phone:</b>
  <%= @payment.phone %>
</p>

<p>
  <b>Paymt amount:</b>
  <%= @payment.paymt_amount %>
</p>

<p>
  <b>Paymt type:</b>
  <%= @payment.paymt_type %>
</p>

<p>
  <b>Paymt number:</b>
  <%= @payment.paymt_number %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
