<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :event_type %><br />
    <%= f.text_field :event_type %>
  </div>
  <div class="field_initiate">
    Indicate  p for public, c for chela, h for HI <br />
    <%= f.text_field :initiate, :size => 2 %>  
  </div>
  <div class="field">
    <%= f.label :event_date %><br />
    <%= f.date_select :event_date %>
  </div>
  <div class="field">
    <%= f.label :num_days %><br />
    <%= f.number_field :num_days, :size => 3 %>
  </div>
  <div class="field">
    <%= f.label :event_time %><br />
    <%= f.time_select :event_time %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 10, :cols => 80 %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :venue %><br />
    <%= f.text_field :venue, :size =>50 %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, :size =>50 %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_field :contact, :size =>25 %>
  </div>
  <div class="field">
    Brief <%= f.label :quote %><br />
    <%= f.text_area :quote, :rows => 10, :cols => 100 %>
  </div>
  <div class="field">
    <%= f.label :quote_ref %><br />
    <%= f.text_area :quote_ref, :rows => 3, :cols => 60 %>
  </div>
  <div class="field">
    <%= f.label :quote_auth %><br />
    <%= f.text_field :quote_auth, :size =>20 %>
  </div>
  <div class="field">
    <%= f.label :adult_price %><br />
    <%= f.number_field :adult_price %>
  </div>
  <div class="field">
    <%= f.label :pens_price %><br />
    <%= f.number_field :pens_price %>
  </div>
  <div class="field">
    <%= f.label :fam_price %><br />
    <%= f.number_field :fam_price %>
  </div>
  <div class="field">
    <%= f.label :youth_price %><br />
    <%= f.number_field :youth_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
